.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.2rem 2rem ;
  color: #0f0000;
}

.navbar a {
  color: #0e0000;
  text-decoration: none;
  margin-right: 1.5rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navbar-title{
  color: #0e0000;
  font-weight: 800;
}

.navbar a:hover {
  color: #7dcff8;
}

.logout-btn {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #007bff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #f0f0f0;
}
